div.left-half {
	float: left;
	width: 50%;
}

div.divider {
	clear: both;
	width: 100%;
}

small.edit-link {
	float: right;
	width: 100%;
	text-align: right;
}

small.detail-link {
	float: right;
	width: 100%;
}

div.chart {
	float: left;
	width: 400px; 
	height: 400px; 
	margin: 10px; 
	margin-top: 30px;
}

div.wide-chart {
	clear: both;
	width: 100%; 
	height: 400px; 
}

div.chart select {
	margin-bottom: 10px; 
}

div.chart div.slider {
	margin-bottom: 10px;
}